.body {
  margin: 0;
  padding: 0;
  text-align: center;
}
.banner {
  padding-bottom: 50px;
  border-bottom: 2px solid black;
}
.slider {
  max-width: 475px;
  position: relative;
  border: 3px solid #e6e6e6;
  border-radius: 5px;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
}
.slider__line {
  position: relative;
  display: flex;
  overflow: hidden;
  left: 0;
  transition: all ease 1s;
}
.slider-button {
  position: absolute;
  width: 38px;
  height: 38px;
  z-index: 2;
  border-radius: 5px;
  background-color: #3a3a3a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: initial;
  padding: 0;
  margin: 0;
}
.slider-button_left {
  left: 5px;
  bottom: 5px;
  background-image: url("./image/стрелка.png");
}
.slider-button_right {
  bottom: 5px;
  background-image: url("./image/стрелка-1.png");
}

.slider__img {
  height: 210px;
}

.listing {
      padding: 20px;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 50px;
  justify-content: center;
}

@media screen and (max-width: 1350px)  {
  .products-container{
      grid-template-columns: repeat(auto-fit, 400px);
  }
}
.product {
  position: relative;
  border: 3px solid transparent;
  border-bottom: 0;
  font-size: 20px;
  text-align: start;
  height: min-content;
  padding: 10px;
}

.product__image_container {
  height: 374px;
  overflow: hidden;
}
.product__image {
  width: 100%;
  height: auto;
  display: block;
}
.product__name {
  margin: 10px 0;
  font-size: 1.5em;
  height: 108px;
  overflow: hidden;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.product__price-line {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
}
.product__price {
  display: inline-block;
  font-size: 2em;
}
.product__price::before {
  content: "$";
  font-weight: bold;
}
.product__price_cents {
  padding-left: 0.2em;
  font-size: 0.8em;
}
.product__add-btn {
  font-size: 1em;
  height: 45px;
  padding: 2px 10px;
  color: white;
  background-color: #3a3a3a;
  cursor: pointer;
}
.product__raiting {
  display: block;
  text-align: center;
  padding: 10px;
  font-size: 2rem;
  overflow: hidden;
}
.product__raiting:before,
.product__raiting:after {
  content: "";
  display: inline-block;
  width: 50%;
  height: 1px;
  background: rgb(151, 151, 151);
  position: relative;
  vertical-align: middle;
}
.product__raiting:before {
  right: 15px;
  margin: 0 0 0 -100%;
}
.product__raiting:after {
  left: 15px;
  margin: 0 -100% 0 0;
}
.product__info {
  display: none;
  margin: 0 0 10px;
  position: absolute;
  z-index: 2;
  top: calc(100% - 3px);
  left: 0;
  border: 3px solid orange;
  border-top: 0;
  margin-left: -3px;
  padding: 0 10px;
  width: calc(100% - 20px);
  background-color: white;
}

.product:hover {
  border-color: orange;
  box-shadow: 15px 20px 15px -5px #777, -15px 20px 15px -5px #777;
}

.product:hover .product__add-btn {
  background-color: orange;
  border-color: orange;
}
.product:hover .product__info {
  display: block;
  box-shadow: 15px 10px 15px -5px #777, -15px 10px 15px -5px #777;
}
.product:hover .product__raiting {
  color: orange;
}
.footer{
  height: 200px;
}